.btn-primary {
    background-color: #602483;
    color: white;
    border-color: #602483;
}

.btn-primary:hover {
    border-color: #602483;
    background-color: #602483;
    color: white;
}

.btn-primary:focus {
    border-color: #602483;
    background-color: #602483;
    color: white;
}
.dropdown-item:hover{
    background-color: #602483;
    color: white;
}
tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}